*{
    padding:0;
    margin:0;
    }
 .title{
    width:none;
    background-color:lightgray;
    height:60px;
    
    }
  body{
    background-color:turquoise;
    }
  h4{ 
    line-height:80px;
    color:gray;
    font-size:20px;
    padding:absolute;
    top:0;
    left:0;
    transform:translate(0%,0%);
    }
 #bb,#bu{
    margin-top:10px;
    line-height:5px;
    width:70px;
    height:25px;
    background-color:skyblue;
    border:none;
    }
  #put{
    margin-top:10px;
    width:250px;
    height:30px;
    border:1px solid black;
    border-radius:1.5vw;
    }
  #bu{
    padding:absolute;
    transform:translate(0%,-140%);
    }
  .str{
    height:300px;
    max-width:500px;
    background-color:lightgray;
    border-radius:10%;
    }
  #dh{
    width:150px;
    height:25px;
    background-color:#44ffdd;
    border:none;
    border-radius:5vw;
    }
